/* Estilos para el encabezado */
#titleppl {
    text-align: center; 
}

#titleppl img {
    max-width: 50%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa; 
    box-sizing: border-box; /* Incluye el modelo de caja */
    background-image: url(../img/fondo/fondo2.jpg); /* Ruta de la imagen de fondo */
    background-size: cover; /* Escalar la imagen para cubrir todo el fondo */
    background-position: center; /* Posicionar la imagen en el centro */
    background-repeat: no-repeat; /* Evitar que la imagen de fondo se repita */
}

/* Estilos para el contenedor principal */
.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 3vh; 
}

/* Estilos para el menú de navegación */
#menu {
    justify-content:center;
    overflow: hidden;
    margin-top: 20px; 
    display: flex; /* Utilizando Flexbox */
}

#menu a {
    color: white;
    text-align: center;
    padding: 14px 20px; 
    text-decoration:none;
    margin: 0 10px; 
}

/* Estilos para los botones del menú */
.boton-quienes-somos,
.boton-tecnologia,
.boton-seguridad,
.boton-contacto {
    background-color: #03aef1; 
}

/* Estilos para la sección de productos */
#productos {
    text-align: center;
}

#productos h2 {
    margin-top: 40px;
    color: rgb(134, 29, 34);
}

/* Estilos para el slider de productos */
.productos-slider {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: nowrap;
}

.productos-slider div {
    flex: 0 0 33.33%;
    margin: 0;
    padding: 0;
}

.productos-slider img {
    max-width: 100%;
    height: auto;
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    background-color: #d7d7d8;
    padding: 10px 0;
    font-size: 14px;
    font-family: monospace;
    color: #050505;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Estilos para las secciones de contenido */
#tecnologia,
#seguridad,
#redes-sociales {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
#redes-sociales {
    text-align: center;
    margin-bottom: 40px;
}
#tecnologia h2,
#seguridad h2,
#redes-sociales h2 {
    text-align: center;
    color: rgb(134, 29, 34);
}

#tecnologia p,
#seguridad p {
    line-height: 1.6;
    text-align: justify;
    color: #666;
}

/* Estilos responsivos */
@media only screen and (max-width: 600px) {
    /* Estilos para dispositivos móviles */
    #titleppl img {
        max-width: 100%; 
    }

    #menu {
        display: block;
        margin-top: 10px;
    }

    #menu a {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    /* Ajustes para el slider de productos */
    .productos-slider div {
        flex: 0 0 100%;
    }
}
.carousel-item img {
    max-width: 100%; /* Establece el ancho máximo de las imágenes del carrusel */
    max-height: 70vh; /* Establece la altura máxima de las imágenes del carrusel */
    width: auto; /* Ancho automático para mantener la relación de aspecto */
    height: auto; /* Altura automática para mantener la relación de aspecto */
    display: block; /* Asegura que la imagen sea un elemento de bloque */
    margin: 0 auto; /* Centra horizontalmente las imágenes */
    object-fit: contain; /* Escala la imagen para que quepa dentro de su contenedor manteniendo su relación de aspecto */
}